/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.loader {
  /*fixedで全面に固定*/
  @include flex-center;
  flex-direction: column;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: $color-light-gary;
  text-align: center;
  color: $color-black;
  &__circle {
    position: relative;
    width: 7em;
    height: 7em;
    transform: translateY(-1%); //位置調整
    &::after {
      content: "";
      position: absolute;
      @include xy-center;
      width: 90%;
      height: 90%;
      border: 1px solid $color-black-20;
      border-radius: 50%;
    }
  }
  &__s {
    display: block;
    position: absolute;
    @include xy-center;
    height: 90%;
    fill: currentColor;
  }
  &__name {
    @include font-serif;
    font-size: 1.5em;
    line-height: 2.5;
  }
}
