/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.sns {
  display: flex;
  align-items: center;
  height: 1em;
  gap: 1em;
  @include media-tb {
    gap: 1.67vw;
  }
  &__border {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: $color-black-20;
  }
  &__link {
    &:hover {
      opacity: 0.5;
    }
  }
  &__link {
    transition: opacity $duration-fast;
  }
  &--footer {
    font-size: 1.333em;
    @include media-tb {
      font-size: 1.143em;
    }
  }
}
