// color
$color-black: #1f2126;
$color-black-80: rgba(#1f2126, 0.8);
$color-black-60: rgba(#1f2126, 0.6);
$color-black-50: rgba(#1f2126, 0.5);
$color-black-20: rgba(#1f2126, 0.2);
$color-black-05: rgba(#1f2126, 0.05);
$color-light-gary: #f3f3f4;
$color-dark-gary: #232425;
$color-white-80: rgba(#fff, 0.8);
$color-white-50: rgba(#fff, 0.5);
$color-white-30: rgba(#fff, 0.3);
$color-white-20: rgba(#fff, 0.2);
// size
$width-cont-sp: 88vw;
$width-cont-pc: 88vw;
$breakpont-tb: 668px;
$breakpont-pc: 1025px;
// animation
$cb-1: cubic-bezier(0.215, 0.61, 0.355, 1);
$cb-2: cubic-bezier(0.165, 0.84, 0.44, 1);
$duration-slow: 650ms;
$duration-fast: 300ms;
$dellay: 350ms;
$dellay-fast: 350ms;
