/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8%;
  @include media-sp {
    flex-direction: column;
  }
  &__txt {
    @include font-ja;
    width: 40%;
  }
  &__btn {
    margin: 0;
    @include media-sp {
      margin: 3.833em auto 0;
    }
  }
}
