/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.cont {
  display: block;
  background-color: white;
  &--bg-gray {
    background-color: $color-light-gary;
  }
  &--bg-dark {
    color: white;
    background-color: $color-dark-gary;
  }
  &__inner {
    width: $width-wrap;
    margin: 0 auto;
    padding: 8em 0;
    @include media-tb {
      max-width: 1280px;
    }
    &--sub-page {
      @include media-tb {
        max-width: 860px;
      }
    }
  }
  &__head {
    text-align: center;
    padding: 0.618em 0 2em;
    @include font-serif;
    font-size: 2.857em;
    &--center {
      flex-direction: column;
      padding-top: 0;
      border: none;
    }
  }
  &__head-ja {
    @include font-ja;
    font-size: 0.3em;
    opacity: 0.64;
    &--center {
      padding-top: 0.618em;
    }
  }
  &__btn {
    margin: 3.833em auto 0;
  }
}
