/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.footer {
  width: 100%;
  background-color: #fff;
  padding: 5em 0;
  border-top: 1px solid $color-black-20;
  @include media-sp {
    padding: 5em 0 2em;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $width-wrap;
    margin: 0 auto;
    @include media-tb {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__logo {
    margin-bottom: 2.556em;
  }
  &__copy {
    @include font-sans;
    color: $color-black-50;
    font-size: 0.917em;
    @include media-tb {
      text-align: center;
    }
  }
}
