/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 2.307em 23px;
  color: white;
  transition: all $duration-fast, color 0ms;
  &__inner {
    @include flex-space-between;
    height: 4.333em;
    width: $width-wrap;
    margin: 0 auto;
    transition: all $duration-fast;
    @include media-sp {
      width: $width-cont-sp;
    }
  }
  &__logo,
  &__menu-btn {
    z-index: 999;
  }
  &__logo {
    transform: translateX(-8%);
  }
  &.bg-wh,
  &.nav-open {
    padding: 0;
    color: $color-black;
    background-color: white;
    border-bottom: 1px solid $color-black-20;
  }
  &__menu-btn {
    display: none;
    @include media-sp {
      display: flex;
    }
  }
}
