/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.nav {
  @include font-sans;
  @include animated-link;
  font-size: 1.4rem;
  @include media-sp {
    font-size: 1.3rem;
  }
  &.nav-open {
    visibility: visible;
    opacity: 1;
    transition: transform $duration-slow $cb-2, opacity $duration-slow, color $duration-fast;
    .nav__inner {
      opacity: 1;
      transform: translate(0);
      transition: transform $duration-slow $dellay-fast $cb-2, opacity $duration-slow $dellay-fast,
        color $duration-fast;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 3em;
    @include media-sp {
      flex-direction: column;
      gap: 1em;
    }
  }
  &__menu {
    display: flex;
    gap: 2.5em;
    @include media-sp {
      flex-direction: column;
    }
    .nav__link:hover .nav__txt {
      transform: translateY(-120%);
      * {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  &__sns {
    display: flex;
    gap: 1.2em;
    @include media-sp {
      margin-top: 3em;
    }
    .nav__link:hover {
      opacity: 0.5;
    }
  }
  &__link {
    transition: opacity $duration-fast;
  }
  &__border {
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: currentColor;
    opacity: 0.5;
  }
  &--global {
    @include media-sp {
      @include flex-center;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 998;
      width: 100vw;
      height: 100vh;
      font-size: 1.6rem;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      background-color: white;
      pointer-events: auto;
      transition: transform $duration-slow $cb-2, visibility $duration-slow, opacity $duration-slow,
        color $duration-fast;
    }
    .nav__inner {
      @include media-sp {
        transform: translate(1em);
        opacity: 0;
        transition: transform $duration-slow $cb-2, visibility $duration-slow,
          opacity $duration-slow, color $duration-fast;
      }
    }
  }
  &--footer {
    .nav__inner {
      @include media-tb {
        display: inline-block;
      }
    }
    .nav__menu {
      @include media-sp {
        gap: 1.618em;
      }
    }
    .nav__sns {
      position: absolute;
      @include x-center;
      font-size: 1.1em;
      @include media-tb {
        position: static;
        transform: translate(0);
        margin: 3em 0;
      }
    }
  }
}
