/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  width: 77vw;
  max-width: $width-cont-m;
  margin: 0 auto;
  @include media-tb {
    max-width: 46em;
  }
  &__txt-wrap {
    flex-grow: 1;
    @include media-tb {
      width: auto;
    }
  }
  &__txt {
    @include font-min;
  }
  &__btn-wrap {
    width: 100%;
    max-width: 300px;
  }
  &__btn {
    margin: 0 auto;
  }
}
