/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.footer {
  background-color: White;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width-wrapper;
    margin: 0 auto;
    // padding: clamp(40px, calc(76px - 3vw), 64px);
    padding: 64px 0;
    @include media-tb {
      flex-direction: column;
      align-items: start;
      gap: 4em;
    }
  }
  &__copy {
    @include font-sans;
    @include media-tb {
      margin: 0 auto;
    }
  }
}
