/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 2.3em 0;
  color: white;
  transition: all $duration-fast;
  &.bg-wh,
  &.nav-open {
    padding: 0;
    color: $color-black;
    background-color: white;
    border-bottom: 1px solid $color-black-10;
  }
  &__inner {
    @include flex-space-between;
    width: $width-wrapper;
    height: 5em;
    margin: 0 auto;
  }
  &__logo {
    z-index: 999;
    transform: translateX(-8%);
  }
  &__nav-btn {
    display: none;
    @include media-tb {
      display: flex;
    }
  }
}
