/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.nav {
  display: flex;
  flex-direction: column;
  @include font-sans;
  @include media-tb {
    flex-direction: row;
  }
  &.nav-open {
    visibility: visible;
    opacity: 1;
    transition: transform $duration-slow $cb-2, opacity $duration-slow, color $duration-fast;
    .nav__inner {
      opacity: 1;
      transform: translate(0);
      transition: transform $duration-slow $dellay-fast $cb-2, opacity $duration-slow $dellay-fast,
        color $duration-fast;
    }
  }
  &__sns {
    margin-top: 3em;
  }
  &--global {
    @include flex-center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    font-size: 1.333em;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    transition: transform $duration-slow $cb-2, visibility $duration-slow, opacity $duration-slow,
      color $duration-fast;
    pointer-events: auto;
    .nav__inner {
      opacity: 0;
      transform: translate(1em);
      transition: transform $duration-slow $cb-2, visibility $duration-slow, opacity $duration-slow,
        color $duration-fast;
    }
  }
  &--footer {
    font-size: 1em;
    .sns {
      margin: 3em 0;
      @include media-tb {
        margin: 0;
        position: absolute;
        @include x-center;
      }
    }
  }
}
