/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.works-list {
  display: flex;
  flex-direction: column;
  gap: 5.333em;
  @include animated-link;
  @include media-tb {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em 0;
  }
  &__item {
    @include media-tb {
      width: 46%;
    }
    @include media-pc {
      width: 29%;
    }
  }
  &__link {
    &:hover {
      .works-list__thumb-img {
        transform: scale(1.08);
      }
      .works-list__ttl {
        transform: translateY(-120%);
        * {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &__thumb {
    width: 100%;
    overflow: hidden;
  }
  &__thumb-img {
    transition: transform 600ms $cb-1;
  }
  &__ttl-wrap {
    margin-top: 1em;
    @include media-tb {
      margin-top: 1.2em;
    }
  }
  &__ttl {
    @include font-min;
    font-size: 1.28em;
    @include media-tb {
      font-size: 1em;
    }
  }
  &__desc {
    @include font-sans;
    font-size: 0.917em;
    margin-top: 1em;
    color: $color-black-60;
    @include media-tb {
      font-size: 0.857em;
      margin-top: 0.5em;
    }
  }
}
