/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vw;
  @include media-tb {
    gap: 8vw;
  }
  @include media-sp {
    flex-direction: column;
    gap: 12vw;
  }
  &__item {
    width: 25%;
    flex-grow: 1;
    @include media-tb {
      width: 45%;
    }
    @include media-sp {
      width: 100%;
    }
  }
  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 3 / 2;
    margin-bottom: 2em;
    overflow: hidden;
    box-shadow: $shadow;
  }
  &__img {
    height: 101%;
  }
  &__cat {
    @include font-sans;
    font-size: clamp(1.1rem, calc(0.25vw + 1rem), 1.3rem);
    color: $color-black-60;
  }
  &__ttl {
    font-size: clamp(1.6rem, calc(0.25vw + 1.5rem), 1.8rem);
    margin-top: 0.5em;
  }
}
