/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.btn {
  @include flex-space-between;
  @include font-sans;
  @include animated-link;
  &--round {
    width: 64vw;
    height: 54px;
    padding: 0 2.167em;
    border: 1px solid $color-black-20;
    border-radius: 9999px;
    @include media-tb {
      width: 250px;
    }
  }
  &--bar {
    width: 46vw;
    height: 46px; //1.3rem = 40px
    padding-right: 0.38em;
    border-bottom: 1px solid $color-black-20;
  }
  &--wh {
    border: 1px solid $color-white-30;
  }

  &__arrow {
    height: 0.69em;
    width: 0.69em;
  }
  //hover
  &:hover {
    .btn {
      transition: all $duration-slow $cb-2;
      &__txt {
        transform: translateY(-120%);
        * {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
      &__arrow {
        animation: btn__arrow $duration-slow $cb-1;
      }
    }
  }
}
