/*---------------------------
@use
----------------------------*/
@use "../global" as *;
/*---------------------------
style
----------------------------*/
.heading {
  @include flex-space-between;
  padding: 1em 0 46px;
  border-top: 1px solid $color-black-20;
  &--center {
    flex-direction: column;
    padding-top: 0;
    border: none;
  }
  &__en {
    @include font-serif;
    font-size: 2.6rem;
  }
  &__ja {
    @include font-ja;
    font-size: 1rem;
    opacity: 0.64;
  }
}
